.styletitle {
  --green: #1BFD9C;
  font-size: 50px; /* Збільште розмір букв у два рази */
  padding: 1.5em 2em; /* Пропорційно збільште розмір рамки */
  letter-spacing: 0.18em; /* Пропорційно збільште розмір міжбуквенного інтервалу */
  position: relative;
  font-family: inherit;
  border-radius: 1.8em; /* Пропорційно збільште радіус кута */
  overflow: hidden;
  transition: all 0.3s;
  line-height: 2.8em; /* Пропорційно збільште висоту рядка */
  border: 4px solid var(--green); /* Пропорційно збільште розмір рамки */
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.styletitle:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.styletitle:before {
  content: "";
  position: absolute;
  left: -6em; /* Пропорційно збільште відстань перед лівим бортом */
  width: 6em; /* Пропорційно збільште ширину лівої частини */
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.styletitle:before {
  transform: translateX(22.5em); /* Пропорційно збільште відстань, на яку зміщується ліва частина */
}
