<!-- templates/category_detail.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/categorydetail.css' %}">
  </head>
  <body>
    <div class="card-container">
    {% for course in object.course_set.all %}
      <a href="{{ course.url }}">
        <div class="card">
          <div class="card-image" style="background-image: url('{{ course.media_file.url }}');"></div>
          <div class="card-text">
            <span class="date">{{ course.teaching }}</span>
            <h2>{{ course.title }}</h2>
            <p>{{ course.description }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  </body>
</html>
