<!-- category_detail.html -->

<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .category-container {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
  }

  .category-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  .course-container {
    margin-bottom: 20px;
    /* Updated style to display flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Updated style for course-box */
  .course-box {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    /* Updated size to 10cm by 10cm */
    width: 10cm;
    height: 10cm;
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Set position relative for absolute positioning */
  }

  .course-box h3, .course-box p {
    margin: 0; /* Remove margin for better layout */
    font-family: 'Times New Roman', serif; /* Change font-family */
  }

  .course-box p {
    font-style: italic; /* Italicize description */
    color: #555; /* Adjust text color */
  }

  .course-link-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; /* Change font-family */
  }

  .back-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; /* Change font-family */
  }
</style>

<div class="category-container">
  <div class="category-header">
    <h1>{{ category.name }}</h1>
    <!-- Add other Category fields as needed -->
  </div>

  <div class="course-container">
    {% for course in object.course_set.all %}
      <div class="course-box">
        <h3>{{ course.title }}</h3>
        <p>Назва компанії: {{ course.owner }}</p>
        <p>Тип навчання: {{ course.teaching }}</p>
        <p>Опис: {{ course.description }}</p>
        <!-- Add other Course fields as needed -->
        <a class="course-link-button" href="{{ course.url }}" target="_blank">Курс детальніше</a>
      </div>
    {% endfor %}
  </div>

  <!-- Back to Category List button -->
  <a class="back-button" href="{% url 'courses:category-list' %}">Back to Category List</a>
</div>
