<h1>Course: {{ course.title }}</h1>

  <!-- Display other details about the course -->
  <p>Owner: {{ course.owner }}</p>
  <p>URL: <a href="{{ course.url }}" target="_blank">{{ course.url }}</a></p>
  <p>Teaching: {{ course.teaching }}</p>
  <!-- Add more fields as needed -->

  <p>Description: {{ course.description }}</p>

  <!-- Add more content as needed -->

  <!-- Add a link back to the category -->
  <p>
    <a href="{% url 'courses:category-detail' pk=course.category.pk %}">
      Back to Category: {{ course.category.name }}
    </a>
  </p>